<p class="text-muted">
    {{ product.comments|length }} Comentarios
    |
    {% for tag in product.tags %}
        <a 
            href="{{ path('app_home', { tag: tag.name }) }}" 
            class="badge text-decoration-none {{
                tag.name == app.request.get('tag')
                ? 'bg-dark text-white'
                : 'bg-light text-dark'
            }}"
        >
            {{ tag.name }}
        </a>
    {% endfor %}
</p>