{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <h1 class="mb-4">Resultado para: {{ tag.name }}</h1>
    
    {% for product in products %}
        
        {{ include('page/_product.html.twig') }}

    {% endfor %}
{% endblock %}
