<div class="p-3 mb-3 bg-dark text-white rounded">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </p>
    <p class="mb-0">
        When an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
</div>

<p>
    It has survived not <strong>only five centuries</strong>, but also the leap into electronic typesetting, <strong>remaining essentially</strong> unchanged.
</p>

<a href="{{ path('app_comments') }}" class="btn btn-warning btn-lg">Comentarios</a>