<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('_menu.html.twig') }}

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-md-3">
                    {{ include('_aside.html.twig') }}
                </div>
            </div>
        </div>
    </body>
</html>
